[bB]in/
[oO]bj/
*.bup
*.mkv
.vscode/**
*.glade~
*.flac
*.mp3
*.wav
fluidsynth-v2.5.1-win10-x64-cpp11
fluidsynth-v2.5.1-win10-x64-glib
Unai.ExtendedBinaryWaterfall.Gui.Wpf
publish.md
publish
doc.md
README.MD
libvgm-src
libvgm-build
libvgm-wrapper
.windsurf
.vscode
*.vgm
*.vgz
docs